#mapid { 
  height: 770px; 
}

#container {
  width: 100%;
}

#map-wrapper {
  position: relative;
	float: right;
  width: 100%;
}

#side-bar {
  display: inline-block;
  position: absolute;
	height: 770px;
	width: 25%;
	z-index: 314159;
  background-color: rgba(51,51,51, 0.89);
  opacity: 50%;
}

#key-desktop {
  padding: 20px;
}

#key-wrapper div {
  float: left;
}

.key-label {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 5px;
  color: #ffffff;
}

.key-label p {
  font-size: 13px;
}

.key-image {
  width: 142px;
}

h3 {
  font-family: PT Sans, Arial;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid;
  border-bottom-color: #ffffff;
}

#chart-wrapper {
  display: inline-block;
  position: absolute;
  width: 25%;
}

body {
	margin: 0;
}

p {
	font-family: PT Sans, Arial;
	font-size: 14px;
}

#title-wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#title {
  font-family: PT Sans Narrow, Arial;
  padding: 0px;
  color: #ffffff;
  margin-top: 0px;
  /* border-bottom: 1px solid;
  border-bottom-color: #ffffff; */
  font-size: 34px;
}

#subtitle {
  font-family: PT Sans Narrow, Arial;
  font-style: bold;
  color: #D0CFD4;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin: 0;
  font-size: 26px;
}

#rainbow-wrapper {
  overflow: hidden;
  width: calc (100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

.rainbow {
  border-bottom: 2px solid;
  width: 8.2%;
  display: inline-block;
}


#r1 {
  border-bottom-color: #333333;
}

#r2 {
  border-bottom-color: #7c5641;
}

#r3 {
  border-bottom-color: #EFC530;
}

#r4 {
  border-bottom-color: #d67b36;
}

#r6 {
  border-bottom-color: #C7432B;
}

#r5 {
  border-bottom-color: #e58888;
}

#r7 {
  border-bottom-color: #A14A7B;
}

#r8 {
  border-bottom-color: #673b9b;
}

#r9 {
  border-bottom-color: #216184;
}

#r10 {
  border-bottom-color: #2cb0c1;
}

#r11 {
  border-bottom-color: #136400;
}

#r12 {
  border-bottom-color: #A7B734;
}

h1 {
	font-family: PT Sans Narrow, Arial;
	font-weight: normal;
	margin-bottom: 0;
}

.leaflet-popup-content-wrapper {
	background-color:rgba(255,0,0,0.8);
}

.leaflet-popup-content-wrapper .leaflet-popup-content h1 {
	font-size: 21px;
	margin-bottom: 5px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	font-family: PT Sans, Arial;
	font-size: 13px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://s3-eu-west-1.amazonaws.com/cbbranding/new+folder/arrow-for-map.png) 96% / 15% no-repeat #ffffff;
    background-size: 20px 13px;
    border:0px;
    outline:0px;
    width: 190px;
    height: 40px;
    font-family: "PT Sans", Arial; 
    font-size: 14.5px; 
    font-weight:bold;
    padding:6px; 
    padding-left: 11px; 
    -webkit-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
    -moz-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
    box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
}

.selector_menu {
    position: absolute;
    top: 10px;
    z-index: 9000;
  box-shadow: none;
  border:0px;
  outline:0px;
  border-radius: 5px;
  opacity:.75;
}

#selector_menu_1 {
  left: 25.75%;
}

#selector_menu_2 {
  left: calc(25.75% + 200px);
}

#selector_menu_3 {
  left: calc(25.75% + 400px);
}


.selector_menu option {
  padding: 15px 30px;
  font-family: "PT Sans", Arial;
  font-size: 15px;
  color: #000000;
  cursor: auto;
  border:0px;
  outline:0px;
}
.selector_menu option:hover {
  cursor: pointer;
}
 .selector_menu option.selected {
  font-family: "PT Sans", Arial;
}

#key {
    position: absolute;
    top: 690px;
    left: 25.75%;
    z-index: 9000;
    height: 70px;
    width: 350px;
    background-image:url(key1.png);
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
    -moz-box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
    box-shadow: 6px 10px 23px 5px rgba(102,102,102,0.2);
}

#logo {
    position: absolute;
    top: 722px;
    right: 7px;
    z-index: 9000;
    height: 30px;
    width: 30px;
    background-image:url(https://www.carbonbrief.org/wp-content/uploads/2017/08/CB-logo-map-light-grey.png);
    background-repeat: no-repeat;
}

/* CSS for d3 bar chart */

#chart-1 {
  width: 100%;
  height: 400px;
}

.bar {
  opacity: 1;
  stroke: #f3f3f3;
  stroke-width: 0.4px;
}

.bar:hover {
  opacity: .7;
}
 
.axis text {
  font: 13px PT Sans;
  fill: #f3f3f3;
}

.label {
  font: 11px PT Sans;
  font-style: italic;
  fill: #f3f3f3;
}

 .axis path,
 .axis line {
   fill: none;
   stroke: #f3f3f3;
   shape-rendering: crispEdges;
 }

 div.tooltip {
  position: absolute;	
  text-align: left;	
  width: auto;
  max-width: 240px;	
  height: auto;		
  padding: 10px;	
  font: 12px PT Sans;	
  background: white;	
  border: 0px;					
  border-radius: 8px;
  pointer-events: none;
	
}

/* make responsive */

@media (max-width: 1300px) {
  .axis text {
    font-size: 12.5px;
  }
}

@media (max-width: 1200px) {
  .axis text {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .axis text {
    font-size: 11.5px;
  }
  .key-label p {
    font-size: 12px;
  }
  .key-image {
    width: 125px;
  }
  .key-image img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .axis text {
    font-size: 11px;
  }
  .key-label p {
    font-size: 11px;
  }
  .key-image {
    width: 100px;
  }
  .key-image img {
    width: 100%;
  }
}

@media (max-width: 800px) {
	#mapid { 
	height: 700px;
	}
	.leaflet-popup-content-wrapper .leaflet-popup-content h1 {
		font-size: 18px;
		margin-top: 0px
	}
	.leaflet-popup-content-wrapper .leaflet-popup-content {
		font-size: 12.5px;
		margin: 12px;
	}

	.leaflet-popup-content-wrapper {
		max-width: 280px;
  }
  
  #key {
    top: 620px;
  }
  
  #logo {
    top: 650px;
  }

}

@media (max-width: 700px) {
	#key {
		font-size: 12.8px;
	}
	#mapid { 
	height: 600px;
  }

  #key {
    top: 520px;
  }
  
  #logo {
    top: 550px;
  }

}

@media (max-width: 600px) {
	#key {
		visibility: hidden;
	}
	#mapid { 
	height: 550px;
	}
	#logo {
    top: 500px;
  }
  #selector_menu_1 {
    visibility: hidden;
  }
  
  #selector_menu_2 {
    top: 10px;
    right: 10px;
  }
}